body {
    background-image: url('../images/bg.jpg');
    background-size: 100%;
}

.container {
    margin-top: 20px;
}

.jumbotron {
    opacity: 0.99;
    text-align: center;
    padding: 2rem 2rem;
}

#timerBG {
    width: 80%;
    overflow: hidden;
    position: relative;
}

#timer {
    position: absolute;
    z-index: 100;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    margin: 36px 0px 0px 84px;
}
.questions {
    text-align: left;
}

#startGameBTN {
    text-align: center;
    border-radius: .1rem;
    background-color: #CC0000;
    border-color: rgb(133, 0, 0);
    border: 2px solid transparent;
}


#startGameBTN:hover {
    background-color: rgb(133, 0, 0);
}

#resetGameBTN {
    text-align: center;
    border-radius: .1rem;
    background-color: rgb(101, 146, 189);
    border-color: rgb(93, 134, 172);
    border: 2px solid transparent;
}
#resetGameBTN:hover {
    background-color: rgb(59, 87, 112);
}

#answers {
    font-size: 24px;
    padding: 10px 10px 10px 30px;
}

.chosenAnswer {
    padding: 5px 5px 5px 10px;

}
.chosenAnswer:hover {
    background-color: #75ABDC;
    border-radius: .2rem;

}